html, body, #root, #app {
  height: 100%;
}

.customIconRadio{
  opacity: 0;
  position: absolute;
}

.customIconRadio:focus + label {
  outline: 1px solid #ddd;
}

.card a, nav a {
  text-decoration: none !important;
  color: inherit !important;
}

.card a:visited, .card a:hover, .card a, nav a {
  color: inherit !important;
}